<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Admin</title>
</head>
<body>
    <%- include("header"); -%>


    <H1>Hello <%=accountName%> </H1>
    <h2>your blogs -> </h2>
    <% for(var i=0;i<myBlogs.length;i++){ %>
        
        <div class="BlogElement">
            <p 
                class="Head"><%=myBlogs[i].Head%>
            <p>
            <p class="Body">
                <%=myBlogs[i].Body%>
            </p>
        </div>
        <form action="/Admin/profile" method="post">
            <input type="hidden" name="id" value=<%=myBlogs[i]._id%> >
            <input type="hidden" name="authorid" value=<%=myBlogs[i].authorId%> >
            
            <button type="submit" name="submit" >Remove</button>
        </form>
    <%}%>

    <%- include("footer"); -%>

</body>
</html>